@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway';
    scroll-behavior: smooth;
}
html{
    scroll-padding-top: 4rem;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.size {
    width: 75%;
    justify-content: space-between;
}

.flex {
    display: flex;
}

.background1 {
    background-color: #686D76;
}

.background2 {
    background-color: #373A40;
}

/* Go To top Button */
#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
      opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
  }
  #button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
  }
  #button:hover {
    cursor: pointer;
    background-color: #333;
  }
  #button:active {
    background-color: #555;
  }
  #button.show {
    opacity: 1;
    visibility: visible;
  }


/* Navbar */
nav {
    display: flex;
    background: rgb(138, 138, 138);
    width: 100%;
    height: 4rem;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: 'Poppins';
    /* position: sticky;
    top: 0%; */
    opacity: 10;
    border-bottom: 1px solid white;
}

.navbar {
    height: 4rem;
    width: 80%;
    justify-content: space-between;
    align-items: center;

}

.logo {
    height: 4rem;
    width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo>img {
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
}

.logo>img:hover {
    transform: scale(1.2);
    border-radius: 50%;
}

.logo>h1 {
    margin-top: 10px;
    margin-left: 15px;
    color: white;
    cursor: pointer;
    transition: transform .2s;
}

.logo>h1:hover {
    transform: scale(1.1);
    color: rgb(171, 41, 26);
}

.lists {
    height: 5rem;
    width: 36rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lists li {
    list-style: none;
    font-size: 17px;
}

.lists>li>a {
    color: white;
    text-decoration-line: none;
    transition: transform .2s;
    font-weight: 400;
}

.lists>li :hover {
    color: rgb(197, 231, 7);
    transform: scale(1.5);
}

.lists>li>a :hover {
    transform: scale(1.1);
}

.btn {
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
    font-weight: 400;
}

.btn:hover {
    transform: scale(1.1);
    background: yellow;
    color: red;
}

.btn1 {
    width: 130px;
    height: 50px;
    background-color: red;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
        background: yellow;
        color: red;
    }
}

/* Main Design */
main {
    display: flex;
    width: 100%;
    height: 88vh;
    /* background-color: rgb(97, 89, 89); */
    justify-content: space-evenly;
    align-items: center;
    gap: 18px;

}

main video {
    width: 100%;
    height: 100vh;
    background-position: center;
    object-fit: cover;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    /* filter: blur(5px); */
}

.main-containt {
    width: 34rem;
    height: 32rem;
    display: grid;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.main-containt h1 {
    font-size: 47px;
    color: yellow;
    font-family: "Roboto";
}

.main-containt h2 {
    font-size: 41px;
}

h1:hover {
    color: yellow;
}

.main-containt p {
    margin-top: 20px;
    font-size: 20px;
}

.members {
    height: 5rem;
    width: 34rem;
    justify-content: space-between;
    align-items: center;
}

.members h1 {
    font-size: 38px;
}

.members h4 {
    font-size: 16px;
}

.line {
    border-left: 3px solid white;
    height: 5rem;
}

.fit-img>img {
    width: 35rem;
    height: 40rem;
}

/* Submain Design */
.submain {
    width: 100%;
    height: 10rem;
    color: white;
    align-items: center;
    justify-content: space-around;

}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.submain h1 {
    font-size: 30px;
    margin: 10px 0px;
}

.submain h3 {
    font-size: 18px;
}

.social {
    height: 5rem;
    width: 32rem;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    animation: down-transection 1s forwards;
    transition: transdorm .2s ease;
}

.about-page {
    width: 100%;
    height: 27rem;
    align-items: center;
    justify-content: space-evenly;
    /* animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

.sec-img img {
    height: 17rem;
    width: 25rem;
    border-radius: 20px;
    transition: transform .3s;
}

.sec-img img:hover {
    border-radius: 20px;
    transform: scale(1.1);
}

.about-content {
    height: 5rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    text-align: start;
}

.about-content h1 {
    font-size: 42px;
    font-family: "Roboto";;
}

.about-content p {
    font-size: 16px;
    text-align: justify;
}

/* Programs page Design */
.programs {
    width: 100%;
    height: 38rem;
    justify-content: center;
    align-items: center;
}

.sub {
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(97, 89, 89); */
}

.first {
    width: 28rem;
    font-size: 26px;
    color: white;
}

.second {
    width: 30rem;
    font-size: 20px;
    color: white;
}

.cards {
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373A40;
}

.card {
    width: 13rem;
    height: 16rem;
    color: white;
    padding: 29px;
    border-radius: 20px;
    display: grid;
    background-color: black;
    transition: .3s ease-in-out;

    &:hover {
        background-color: orange;
        color: black;
    }
}

.card img {
    height: 4rem;
    width: 5rem;
}

.card>h4 {
    font-size: 24px;
}

.card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
}

.card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    /* color: whitesmoke; */
}

.card>button {
    border: none;
    background: none;
    color: white;
    height: 2rem;
    width: 9rem;
    font-size: 15px;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
}

.card>button:hover {
    color: red;
}

/* Services Page Design */
.services {
    width: 100%;
    height: 38rem;
    justify-content: center;
    align-items: center;
}

.service-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
}
.services p {
    font-size: 16px;  
}
.service-content h2{
    font-size: 40px;
}
.service-content h4 {
    font-size: 22px;
}

.sec3-img {
    display: flex;
    height: 33rem;
    width: 29rem;
    align-items: center;
    justify-content: right;
}

.sec3-img>img {
    height: 27rem;
    width: 22rem;
    border-radius: 20px;
    /* overflow: hidden; */
}

.sec3-img img:hover {
    border-radius: 20px;
    transform: scale(1.1);
}

/* Membership Page Design*/
#membership{
    width: 100%;
    height: 40rem;
    justify-content: space-evenly;
    align-items: center;
}
.plan {
    width: 100%;
    height: 10rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.plan > h1{
    font-size: 40px;
}
.plan > p{
    font-size: 18px;
}

.plans {
    text-align: center;
    height: 28rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(77, 80, 79); */
}

.plan-card {
    height: 22rem;
    border-radius: 14px;
    padding: 25px 50px;
    width: 13rem;
    display: grid;
    color: white;
    line-height: 25px;
    justify-content: center;
    background-color: black;
    transition: transform .3s ease-in-out;
}

.plan-card:hover{
    background-color: orange;
    transform: scale(1.1);
    color: #333;

    plan-card > button{
        border: 1px solid red;
        color: blue;
    }
}

.plan-card ul {
    line-height: 32px;
}

.plan-card h2 {
    font-size: 40px;
}

.title {
    font-size: 20px;
    justify-content: center;
}

.price {
    justify-content: center;
}

.plan-card ul>li {
    font-size: 18px;
}

#feedback h1{
    font-size: 40px;
    color: white;
    margin-bottom: 2rem;
}
.plan-card button {
    width: 11rem;
    height: 40px;
    border-radius: 25px;
    border: 2px solid orange;
    background: none;
    color: white;
}

.plan-card button:hover {
    background-color: yellow;
    color: red;
}

/* Subfooter page Design */
.sub-footer {
    width: 100%;
    height: 25rem;
    line-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
}

.sub-footer h4 {
    font-size: 24px;
    color: white;
    font-family: 'Poppins';
}

.sub-footer h6 {
    font-size: 16px;
    color: rgb(215, 212, 212);
    font-family: 'Poppins';
    font-weight: 300;
    cursor: pointer;
}

.sub-footer img {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.sub-footer input {
    height: 3rem;
    width: 20rem;
    border-radius: 30px;
}

.margin {
    margin-right: 50px;
}

/* Footer Section */
footer {
    flex-direction: row;
    height: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3C5B6F;
    color: white;
}

.footer {
    align-items: center;
    justify-content: space-between;
}

.social-media>img {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    padding: 0px 3px;
    transition: transform .2s ease-in-out;
}

.social-media img:hover {
    transform: scale(1.2);
}

/* FeedBack Page Design */
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4070f4;
}

.feedback{
    width: 100%;
    height: 38rem;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    gap: 12px;
    /* max-width: 400px; */
    width: 100%;
    background: #031033;
    border-radius: 20px;
    padding: 30px;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.container .sub-card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 52px;
    background: #fff;
    scroll-snap-align: start;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    line-height: 2rem;
}

.sub-card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #4070f4;
    border-radius: 50%;
}

.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
}

.sub-card>p {
    font-size: 18px;
    color: black;
    text-align: center;
}

.out{
    display: flex;
    justify-content: start;
    align-items: start;
    cursor: pointer;
}
.out > img{
    position: absolute;
    height: 2rem;
    width: 2rem;
}


/* Responsivness */

@media only screen and (max-width: 1283px) {
    main {
      width: 100%;
      height: fit-content;
    }
    #videobcg{
        width:auto;
        height: fit-content;
    }

    .submain{
        width:auto;
        height: fit-content;
    }
  }